* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #ddd;
}

#canvas-container {
  width: 1200px;
  height: 950px;
  margin: 25px auto;
  padding: 10px;
  border: 1px solid black;
  /* overflow: hidden; */
}
